
h1{
    color: red;
    text-align: center;
}

body{
    background-color: black;
    height: 100%;
}

a{

 
    width: 50%;

    color: red;

    display: flex;

    flex-direction: column;

    justify-content: left;

    margin: 10%;

    text-align: right 50%;

}

.content {
    display: flex;
    height: 100%;
}

aside{
    border-style: solid;
    border-color: orange;
    border-width: 1px;
    width: 20%;
}

main {
    width: 80%;
    
}