nav{
    display: flex;

    align-items:center;
    justify-content: space-around;

    background-color: darkgreen;
}

main{
    background-color: brown;

    display: flex;
    flex-direction: column;
    align-items: center;
}