main{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    
    justify-items: center;
    text-align: center;
}

.card{
    box-shadow: black 1px 1px 30px;
    background-color: brown;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
}
