h1 {


    text-align: center;
    color: black;

}

h2 {
    text-align: center;
    color: black;

}

img {
    display: block;
    margin-left: 40%;

}



body {

    background-color: chocolate;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;

    
}

a {

    color: rgb(60, 255, 0);
}

hr {
    height: 2px;
    background-color: #000;
    border: none
}

h2,p,h4,a{

    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}