h1 {
    color: red;
    text-align: center;

}

body {
    background-color: black;

    height: 100%;
}

a {


    width: 50%;

    color: red;

    display: flex;

    flex-direction: column;

    justify-content: left;

    margin: 10%;

    text-align: right 50%;

}




.content {
    display: flex;
    height: 100%;

    border-color: orange;
    border-style: solid;
    border-width: 3px;
    border-bottom: 0;
    border-right: 0;
}

aside {
    border-style: solid;
    border-color: orange;
    border-width: 3px;

    border-top: 0;
    border-left: 0;
    width: 20%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-left: 10px;
    margin-top: 20px;

    width: 80%;

}

main div {
    text-align: center;
}

main img {
    height: 80%;
}

img {

    width: 70%;
}

h3 {

    color: limegreen;

    text-align: center;
    margin-left: 6px;


}

nav {

    text-align: center;
}

.item-1{

background-color:  yellow;


}