nav {
    background-color: rgb(7, 125, 133);
    display: flex;

    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding-bottom: 5px;
}

body {
    margin: 0;
    background-color: rgb(182, 225, 245);
}

h1 {
    color: white;
}

a {
    color: white;
}

.bob {
    color: white;
}

.slimead {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.jon {
    padding-left: 440px;
}

h6 {
    text-align: center;
}

.f1cw {
     text-align: center;
    margin-top: 100px;
}

.h1serier {
    color: white;
}

.southpark {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.topgear {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.clarkson {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.chris {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    margin-top: 100px;
}

main img {
    margin: 0 auto;
    display: block;
}

p {
   text-align: center; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.billy {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.marko {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.rbj {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.zorro {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.elis{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.mike {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black
}

.noob{
color: black;
}

h3{
    text-align: center;
}