body {
    background-color: n/a;
    color: n/a;

    text-align: center;
}
.spin-text {
    display: inline-block; 
    animation: spin 2s linear infinite; 
    height: 150px;
}

@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
