body {
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 0;
}

.top {
    width: 100%;
    text-align: center;
}

.pixar-logo {
    width: 430px;
    height: auto;
    margin-top: 5px;
}

hr {
    width: 98%;
    border: none;
    border-top: 1px solid #999;
}


.welcome {
    margin-top: 48px;
}

h1 {
    color: red;
    font-size: 30px;
    margin-bottom: 22px;
    font-variant: small-caps;
}

p {
    font-size: 15px;
    margin: 4px;
}

.first-text {
    font-size: 18px;
    margin-bottom: 5px;
}


.characters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character img {
    width: 75px;
    height: 115px;
    object-fit: contain;
}

.character a {
    color: red;
    font-size: 15px;
}

.bottom {
    margin-top: 20px;
    font-size: 14px;
}

.bottom hr {
    margin-bottom: 10px;
}

.bottom a {
    color: red;
}
