body {
    text-align: center;
}


nav {
    display: flex;

    align-items: center;
    justify-content: space-around;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
}

img {
    width: 33%;
    margin: 5px;
    border: 20px; color: aliceblue;
    border-style: solid;
}