body {


    font-family: "Lucida Grande",;
    margin: 0px;
    text-align: center;
}

.welcome{
    color: rgb(192, 0, 0);
    text-align: center;
}

header{
    padding-top: 30px;
}

a{
    color: red;
}

nav {
    text-align: center;
    padding: 5px;
}

nav a {


    margin: 1px;
}

main {
    width: 45%;
    margin: 15px auto;
}



footer {


    text-align: center;
    padding: 2px;
    margin-top: 10px;
    font-size: 12px;
}