nav {
    background-color: rgb(40, 11, 40);
    display: flex;
    align-items:center ;
    justify-content:space-around ;

}

nav a {
    color: antiquewhite;
}

main {
display: flex;
flex-direction: column;

align-items: center;
}