body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: rgb(255, 0, 0);
}