
header {
    text-align: center;
    width: 100%;
}
 nav { 
  background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 20% 20% 20%;
   

 }

body {
    background-color: gray;
}