body {
    background-color: chartreuse;
    color: blueviolet;

    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

a {
    color: aquamarine;
}

h1 {
    background-color: brown;
    
    padding: 16px;

    width: 40%;

    margin: 0 auto;

    border-radius: 12px;
}