body {
    background-color: rgb(66, 114, 203); 
    color: rgb(254, 254, 254);
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

a{

    color: black;
}