body {

    text-align: center;
    color: black;

}

h1 {
    font-size: 62px;
}

h3 {
    text-align: right
}

h2 {

    color: red;
}
p{text-align: center;}
a { color: red;}
img{ text-align: center;}


