nav {
    background-color: rgb(43, 16, 68);
display: flex;
align-items: center;
justify-content: space-around;
}

header h1{
  text-align: center;
    background-color: rgb(52, 6, 75);
    color: rgb(153, 227, 244);

  font-size: 300%;
  margin: 0%;
}

nav a {
    color: rgb(153, 227, 244);
    font-size: 140%;
}

body { 
    background-color: rgb(17, 0, 26);
}
main {
       display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
   
}

iframe { 
   margin: 5%;
}