header h1{
  text-align: center;
    background-color: rgb(52, 6, 75);
    color: rgb(153, 227, 244);

  font-size: 300%;
  margin: 0%;
}

body { 
    background-color: rgb(17, 0, 26);
}

nav a {
    color: rgb(153, 227, 244);
    font-size: 140%;
    shape-outside: linear-gradient();
}

nav {
    background-color: rgb(43, 16, 68);
display: flex;
align-items: center;
justify-content: space-around;
}


main div p {
    color: rgb(153, 227, 244);
  margin-right: 10%;
  margin-left: 10%;

}

main div h3 {
    color: rgb(153, 227, 244);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
   
 
}

 .card { 

 text-align: center;
 background-color: rgb(6, 7, 87);
 margin-top: 7%;
 margin-left: 22%;
 margin-right: 22%;
 }
.card h3 {
   text-shadow: 1cm;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 5%;
   
}
.card p {
    margin-right: 15%;
    margin-left: 15%;
    
}
.container { 
    padding-inline: inherit;
}


